#Only allow m-files in the testing and main toolbox directory
testing/*
!testing/*.m

tbx/bfimage/*
!tbx/bfimage/*.m

#Ignore everything in the local folder except the dummy file (needed to get Git to keep the empty folder)
local/*
!local/.dummy